<h4>To be developed...</h4>
<ul>
	<li>Admin page for notes?<br>
		<ul><li>Displays all notes created for a project, notes without coordinates are invisible(deleted) to users.</li></ul>
	</li>
	<li>Collective project note actions?</li>
</ul>

<%= link_to 'Back to Project', project_path(@project), :class => 'btn' %>
