<% if File.extname(@blueprint.bpu.to_s) == '.pdf' %>
	<%= link_to 'Open PDF', @blueprint.bpu.to_s, class: 'btn btn-success' %>
<% else %>
	<a href="<%= @blueprint.bpu %>"><%= image_tag @blueprint.bpu %></a>
<% end %>
