<h4>Project Blueprint Record</h4>
<ul>
	<li>View all blueprints uploaded to a project.</li>
	<li>Open blueprint.</li>
	<li>Can function as the main review structure for city users.</li>
</ul>

<%= link_to 'Back to Project', project_path(@project), :class => 'btn' %>
