
	<a href="#myModal-<%= @blueprint.id %>" role="button" class="btn" data-toggle="modal">Preview</a>
	<div id="myModal-<%= @blueprint.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel"><%= @blueprint.id %></h3>
    </div>
    <div class="modal-body">
      <img src="<%= @blueprint.bpu %>" />
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>

