<h4>Blueprint Page</h4>
<ul>
	<li>View all information related to a blueprint.</li>
	<li><strong>Edit staus or category.</strong></li>
	<li>Add Notes.</li>
</ul>

<%= link_to 'Back to Project', project_path(@project), :class => 'btn' %>
