<h3><%= @blueprint.title %></h3>
<p>
	<b>Belongs to project:</b>
	<%= @blueprint.project_id %>
</p>
<p>
	<b>Created:</b>
	<%= @blueprint.created_at %>
</p>
<br>
<h4>Blueprint Page</h4>
<ul>
	<li>View all information related to a blueprint.</li>
	<li><strong>Edit title or add tag.</strong></li>
	<li>Add Notes.</li>
</ul>

<%= link_to 'Back to Project', project_path(@project), :class => 'btn' %>
