<div class="row-fluid">
	<div class="span4">
		<%= render 'show-sidebar' %>
	</div>
	<div class="span8">
		<table class="table table-hover table-bordered">
			<tbody>
				<tr>
					<td>
						<%= render 'display' %>
					</td>
				</tr>
			</tbody>
		</table>




	</div>
</div>
