<h3>Add a Project Participant</h3>
<ul>
	<li>Participants have access to the project.</li>
	<li>A link to the project is added on their personal user page.</li>
	<li>Users are still limited by their user ROLE.</li>
</ul>
