<div class="row-fluid">
	<div class="span8">
		<% unless current_user.nil? %>
			<% if current_user.has_role? :gold %>
				<br>
				<div class="well">
					<%= link_to 'New Group', new_group_path, :class => 'btn btn-block' %>
				</div>
				<ul>
					<% current_user.groups.each do |g| %>
						<li><%= link_to g.name, group_path(g.id) %></li>
					<% end %>
				</ul>			
			<% else %>
				<p>Users with a group plan may create a group.</p>
			<% end %>
		<% end %>
	</div>
	<div class="span4">
		<%= render 'sidebar_index' %>
	</div>
</div>
