<div class="well">
	<h3><%= @user.name %></h3>
	<a href="#viewUser" role="button" class="btn btn-primary btn-block" data-toggle="modal">Account Details</a>
</div>
<div class="well">
	<h3>User Page</h3>
	<ul>
		<li>Displays the projects the current user is participating in.</li>
		<li>A user is granted access only to his/her 'User Page.'</li>
		<li><strong>New Project</strong> capability.</li>
	</ul>
</div>
<div class="well">
	<h3>My Groups:</h3>
	<% current_user.groups.each do |g| %>
		<li><%= link_to g.name, group_path(g.id) %></li>
	<% end %>
</div>
