<h4>User Page</h4>
<ul>
	<li>Displays the projects a the current user is participating in.</li>
	<li>A user is granted access only to his/her 'User Page.'</li>
	<li><strong>New Project</strong> capability.</li>
</ul>
