<div id="welcome" class="hero-unit span7">
  <h1>Cloud Project Management</h1>
  <h3>Serving Architects and Engineers.</h3>
</div>
<div class="row span8 plans">
  <div class="span2 well">
    <div class="plan"><h2>Individual</h2></div>
    <ul class="unstyled">
      <li>Add individual plan details.</li>
    </ul>
    <h3>$~/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well featured">
    <div class="plan featured-plan"><h2>Firm</h2></div>
    <ul class="unstyled">
      <li>Enter package details for a firm.</li>
    </ul>
    <h3>$~/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
  </div>
  <div class="span2 well">
    <div class="plan"><h2>City</h2></div>
    <ul class="unstyled">
      <li>City Details</li>
    </ul>
    <h3>$~/month</h3>
    <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
  </div>
</div>
