<div id="contents" class="well well-small">
	<h3>Contents</h4>
	<p><span class=""><i>Drag titles to change display order.</i></span></p>
	<ol id="project-content-nav" data-update-url="<%= sort_project_blueprints_url(@project) %>">
		<% @blueprints.each do |b| %>
			<%= content_tag_for :li, b do %>
				<%= b.title %>
			<% end %>
		<% end %>
	</ol>
</div>
<div id="browseTags" class="well well-small">
	<h3>Browse Tags</h3>
	<div id="tag_cloud">
		<% tag_cloud Blueprint.tag_counts, %w[s m l] do |b, css_class| %>
			<%= link_to b.name, blueprint_path(b.name, project_id: @project.id), class: css_class %>
		<% end %>
	</div>
</div>
