<div class="well">
	<p><h3><%= best_in_place @project, :name %><sub><i class="icon-pencil"></i></sub></h3></p>
	<div class="btn-group btn-block">
		<a class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" href="#">
			Contribute to Project
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li>
				<a href="#newBlueprint" role="button" class="" data-toggle="modal">Upload Blueprint</a> 
			</li>
			<li>
				<a href="#newDiscussion" role="button" class="" data-toggle="modal">Start Discussion</a>
			</li>
		</ul>
	</div>
	<div id="participant-list">
		<br>
		<strong>Participants:</strong>
		<a href="#newParticipant" role="button" class="btn btn-small btn-primary" data-toggle="modal">Add Participant</a>
		<ol>
			<% @project.users.each do |user| %>
				<li><%= link_to user.name, user_path(user.id) %></li>
			<% end %>
		</ol>
	</div>
</div>
<div class="well well-small">
	<h4>Project Page (PARTICIPANT)</h4>
	<ul>
		<li>This page acts as a hub for all aspects of a project.</li>
		<li>Any user participating in a project is capable of using this page</li>
		<li><strong>Add Drawing</strong> capability. Uploads digital blueprint to project.</li>
		<li><strong>Add Note</strong> capability. Project or blueprint specific.</li>
		<li>Click the note tags to add or edit them. <strong>In-place-editing</strong></li>
	</ul>
	<a href="#read-review" role="button" class="btn" data-toggle="modal">Preview</a>
</div>

