<div id="projectBox" class="well">
	<p><h3></h3></p>
	
	<div id="participant-list">
		<br>
		<strong>Participants:</strong>
		
		<ol>
			<% @project.users.each do |user| %>
				<li><%= link_to user.name, user_path(user.id) %></li>
			<% end %>
		</ol>
	</div>
</div>
<div id="info" class="well well-small">
	<h3>Project Page (PARTICIPANT)</h3>
	<ul>
		<li>This page acts as a hub for all aspects of a project.</li>
		<li>Any user participating in a project is capable of using this page</li>
		<li><strong>Add Drawing</strong> capability. Uploads digital blueprint to project.</li>
		<li><strong>Add Note</strong> capability. Project or blueprint specific.</li>
		<li>Click the note tags to add or edit them. <strong>In-place-editing</strong></li>
	</ul>
	
</div>

