<div class="span3">
	<%= render 'content-nav' %>
</div>
<div class="span6">
	<%= render 'blueprint-table' %>
</div>	
<div class="span3">
		<%= render 'participant-sidebar' %>
</div>

<div id="read-review" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Project Review</h3>
  </div>
  <div class="modal-body">
    <%= render 'review' %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
