<h3>Project Page (REVIEWER)</h3>
<ul>
	<li>This view is unique to city users for reviewing the project.</li>
	<li>Only visible after 'sign and seal'</li>
</ul>

<div class="well well-small">
	<h3>Contents</h3>
	<ol>
		<% @blueprints.each do |b| %>
			<%= content_tag_for :li, b do %>
				<a href="#blueprint-table-<%= b.id %>">
					<%= b.title %>
				</a>
			<% end %>
		<% end %>
	</ol>
</div>

