<div class="row">
		<p id="notice"><%= notice %></p>	
			
		<!-- Add task if has project_id -->
			

		
		<% if current_user.is_reviewer_of_project?(@project.id) %>
			<%= render 'review' %>
		<% end %>
		<!-- Begin visible to project participants only, NEEDS request to participate in ELSE -->
		<% if current_user.is_participant?(@project.id) %>
			<%= render 'participant' %>
		<% end %> <!-- End project participant only -->

</div>
