<div class="row">
		<% unless current_user.has_role? :admin %>
			<% unless @project.sealed == true %>
				<% if current_user.is_reviewer_of_project?(@project.id) or current_user.is_participant?(@project.id) %>
					<%= render 'participant' %>
				<% end %>
			<% else %>
				<% if current_user.is_reviewer_of_project?(@project.id) or current_user.is_participant?(@project.id) %>
					<div class="span8">
						<%= render 'review' %>
					</div>
					<div class="span4">
						<%= render 'reviewer-sidebar' %>
					</div>
				<% end %>
			<% end %>
				
		<% else %>
			<%= render 'participant' %>			
		<% end %>


</div>
