<div class="row">
	<div class="span8">
		<h1>New member</h1>

		<%= render 'form' %>

		<%= link_to 'Back', group_members_path, :class => 'btn btn-small' %>
	</div>
	<div class="span4">
		<%= render 'sidebar_new' %>
	</div>
</div>
